@model Gadget

<div class="col-4 p-4">
    <div class="card border-dark m-2">
        <img class="card-img-top" src="@Model.Image" alt="No image available" />
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <h5><span class="badge bg-secondary">@Model.Price BYN</span></h5>
        </div><!-- card-body -->
        <div class="card-footer text-center">
            <a class="btn btn-outline-primary"
               asp-action="Add"
               asp-controller="Cart"
               asp-route-id="@Model.Id">
               <i class="fa-solid fa-cart-shopping"></i>
               Добавить в корзину
            </a>
        </div><!-- card-footer -->
    </div><!-- card -->
</div><!-- col -->
